[submodule "cantor"]
	path = cantor
	url = git@github.com:ethan-stone/cantor.git
[submodule "koch"]
	path = koch
	url = git@github.com:ethan-stone/koch.git
[submodule "rauzy"]
	path = rauzy
	url = git@github.com:ethan-stone/rauzy.git
